<div *ngIf="!unProfesor">
  <p> seleccione un Profesor </p>
</div>


<div *ngIf="unProfesor">
  <h2>{{unProfesor.apellido}} </h2>
 

  <div class="card" style="width:200px">
      <img class="card-img-top" src="/assets/imagenes/presentacion.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">{{unProfesor.legajo}}</h4>
        <p class="card-text">El Profesor {{unProfesor.nombre}} ,{{unProfesor.apellido}}</p>
        <a href="#" class="btn btn-danger">Borrar</a>
      </div>
    </div>
</div>